<ng-template #itemTpl>
  {{item.name}}
</ng-template>


<universal-list [items]="itemsList" [tplRef]="itemTpl">
  ContentChild(ListItemComponent) . tplRef
  <div *list-item>{{item.name}}</div>
</universal-list>



<universal-list [items]="itemsList">
  <div *list-item>{{item.name}}</div>
</universal-list>

...
UniversalList template:

  @ContentChild(ListItemComponent)
  listItem . tplRef

  @ContentChild('here',{read:EmbededViewRef})
  listItem . tplRef

<div *ngFor="let item of items">
    <div #here></div>
 <ng-container *ngTemplateOutlet="template; context: item" ></ng-container>
 </div>


 and more...
 https://angular.io/docs/ts/latest/cookbook/dynamic-component-loader.html